.categorys {
    display: flex;
    padding-top: 60px;
}

.category {
    font-size: 14px;
    color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(236, 234, 231, 1);
    width: 359px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category:first-of-type {
    background-color: rgba(245, 243, 240, 1);
}
