* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  width: 100%;
}

html.dark {
  background-color: #000;
  color: #fff;
}

html.dark .switchRoot {
  background-color: rgba(255, 255, 255, 0.2);
}

html.dark .switchRoot:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
