* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  width: 100%;
}

html.dark {
  background-color: #000;
  color: #fff;
}

html.dark .switchRoot {
  background-color: rgba(255, 255, 255, 0.2);
}

html.dark .switchRoot:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Hide scrollbar while keeping scroll functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

@media (max-width: 1600px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  body {
    font-size: 12px;
  }
}
