.colors {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;

    h1 {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 10%;
        text-transform: uppercase;
        color: rgba(30, 30, 30, 1);
        position: static;
    }

    h1::after {
        display: none;
    }

    &>div{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .color1{
            width: 30px;
            height: 35px;
            border-radius: 6px;
            cursor: pointer;
            transition: box-shadow 0.2s;
        }
    }
}
